<!DOCTYPE html>
<html ng-app="IntroToAngularApp">
	<head>
		<meta charset="utf-8">
		<title>Intro to Angular</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/homeController.js"></script>
	</head>
	<body>
		<div ng-controller="HomeController as homeCtrl">
			Is MiIrKat awesome? {{ homeCtrl.awesome }}
			<ul>
				<li ng-repeat="person in homeCtrl.miirkat">
					{{ person.name }} has {{ person.hair }} hair!
				</li>
			</ul>
			<input type="text" ng-model="homeCtrl.myInput"></input>
			<p>
				My input is: {{ homeCtrl.myInput }}
			</p>
		</div>
	</body>
</html>